<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtkSharp" version="3.24.24.38" targetFramework="net47" />
  <package id="CairoSharp" version="3.24.24.38" targetFramework="net47" />
  <package id="GdkSharp" version="3.24.24.38" targetFramework="net47" />
  <package id="GioSharp" version="3.24.24.38" targetFramework="net47" />
  <package id="GladeGeneratorGUI" version="1.1.6" targetFramework="net47" />
  <package id="GLibSharp" version="3.24.24.38" targetFramework="net47" />
  <package id="GtkSharp" version="3.24.24.38" targetFramework="net47" />
  <package id="Mono.Posix.NETStandard" version="1.0.0" targetFramework="net47" />
  <package id="Mono.Posix-4.5" version="4.5.0" targetFramework="net47" />
  <package id="PangoSharp" version="3.24.24.38" targetFramework="net47" />
</packages>